/* .navbar{
    --bs-navbar-brand-margin-end: 66rem;
} */

/* :root{
    --bs-body-font-size: 1.2rem;
    --bs-body-font-weight: 592;
    --bs-body-line-height: 20.5px;
} */

/* .navbar-brand{
    font-size: 3vh;
} */